<header class="main-head">
            <h1 class="title">Clelia <span class="voila">CARNIEL</span></h1>
            <nav class="nav-bar">
                <ul class="nav-items">
                    <li class="nav-detail"><a href="{{ path('main') }}">Accueil</a></li>
                    <li class="nav-detail"><a href="{{ path('formation') }}">Experiences</a></li>
                    <li class="nav-detail"><a href="{{ path('blog') }}">Blog</a></li>
                    <li class="nav-detail"><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </header>