{% extends 'base.html.twig' %}

{% block body %}
<main class="main-details">
            <section class="picture">
            </section>
            <section class="detail">
                <div class="laius">
                    <h2>Bienvenue sur mon site!</h2>
                    <p>Hello! Moi c'est Clelia développeuse Backend, avec une spécialisation sur le framework Symfony. <br>
                    Je partage ici mes travaux. <br>
                    N'hésitez pas à laisser vos commentaires sur d'eventuelles améliorations ! <br> <br>
                    Bonne visite !
                    </p>
                </div>
            </section>
        </main>

{% endblock %}