.container {
    background-color: black;
    width: 100vw;
    font-family: 'Abril Fatface', cursive;
    font-size: 1em;
}

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black; /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: darksalmon; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid black; /* creates padding around scroll thumb */
  }


/****** Index *******/
.main-head {
    width: 100vw;
    height: 20vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1em solid white;
}

.title {
    width: 40%;
    font-size: 6em;
    background-color: white;
    display: flex;
    position: relative;
}

.voila {
    position: absolute;
    bottom: 0;
    right: 0;
}

.nav-bar {
    width: 60%;
    display: flex;
    align-items: flex-end;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    flex-wrap: wrap;
}

.nav-detail {
    vertical-align: baseline;
    width: 150px;
    height: 5vh;
    margin: auto;
    justify-content: center;
    border: 0.1em solid white;
}

.nav-detail a {
    text-decoration: none;
    color: black;
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.nav-detail a:hover {
    color: white;
    background-color: chocolate;
}

.main-details {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.picture {
    display: flex;
    width: 40vw;
    justify-content: center;
    background-image: url(../images/moi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(0.4);
}

.detail {
    width: 60vw;
    height: 100%;
    background-color: chocolate;
    display: flex;
    position: relative;
}

.laius {
    background-color: antiquewhite;
    padding: 20px;
    margin: auto;
    width: 90%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.laius h2 {
    display: flex;
    font-size: 1.5em;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.laius p {
    display: flex;
    width: 90%;
    height: 70%;
    margin: auto;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Parisienne', cursive;
    align-items: center;
    justify-content: center;
}

.firstname p {
    position: absolute;
}

.the-end {
    width: 100vw;
    height: 10vh;
    display: flex;
    border-top: 0.1em solid white;
    background-color: darksalmon;
}

.social-media {
    height: 5vh;
    width: 100vw;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.global {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 5vh;
    font-size: 0.9em;
}

.global li {
    width: 10vw;
}

.global a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.twitter a:hover,
.github a:hover,
.linke a:hover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
}

.twitter a:hover {
    background-image: url(../images/twitter.svg);
}

.github a:hover {
    background-image: url(../images/github.svg);
}

.linke a:hover {
    background-image: url(../images/linkedin.svg);
}

/******** XP *******/
.main-xp {
    width: 100vw;
    height: 70vh;
    position: relative;
}

.skills,
.formations {
    width: 40vw;
    height: 45%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.formations {
    bottom: 0;
    border-top: 0.1em solid white;
}

.xps {
    position: absolute;
    width: 60vw;
    height: 100%;
    right: 0;
    border-left: 0.1em solid white;
    background-color: antiquewhite;
}

.xps h2 {
    width: 100%;
    height: 5%;
    margin: 10px;
    font-size: 1.5em;
}

.all-skills {
    display: flex;
    width: 100%;
    height: 70%;
    flex-wrap: wrap;
    align-items: center;
}

.all-skills img {
    max-width: 60px;
    margin: 15px;
}

.skills h2,
.formations h2 {
    width: 80%;
    height: 5vh;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 1.5em;
}
.scroll-el {
    height: 90%;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
}

.scroll-el::-webkit-scrollbar{
    width: 12px;
}

.scroll-el::-webkit-scrollbar-track {
    background: black;
}

.scroll-el::-webkit-scrollbar-thumb{
  background-color: darksalmon; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

.projects {
    display: flex;
    width: 100%;
    height: max-content;
    margin: 30px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.projects h3 {
    text-align: left;
    width: 90%;
    color: darksalmon;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.projects p {
    word-break: break-word;
    width: 90%;
    font-family: initial;
    line-height: 1.3em;
}

.projects a {
    font-weight: bold;
    color: darksalmon;
}

.projects a:hover {
    color: white;
}

.formations h2 {
}

.scroll-ele {
    height: 80%;
    white-space: nowrap;
    display: flex;
    overflow-x: scroll;
}

.scroll-ele::-webkit-scrollbar{
    width: 12px;
}

.scroll-ele::-webkit-scrollbar-track {
    background: black;
}

.scroll-ele::-webkit-scrollbar-thumb{
  background-color: darksalmon; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

.school {
    margin: 0 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.school h3 {
    color: darksalmon;
    white-space: normal;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.school p{
    color: white;
    font-family: initial;
    font-weight: bold;
    margin-bottom: 5px;
}

.school


.contact-details,
.blog-details {
    height: 70vh;
}


/********* CONTACT *********/

.contact {
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: center;
}

.form-item {
    color: white;
    display: flex;
    width: 90%;
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-item h2{
    font-size: 1.5em;
}

.form {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.form label {
    width: 200px;
}

.name,
.email,
.message {
    width: 100%;
}

.message {
    height: 100px;
}


.submit{
    background-color: #e9967a;
    border: 0.1em solid #ec967a;
    width: 100px;
    height: 33px;
    border-radius: 5px;
}


/********* LOADING *********/
.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#e9967a;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #e9967a;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #e9967a;
  border-right:3px solid #e9967a;
  border-radius:50%;
  animation:animateC 5s linear infinite;
}
.ring span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 5s linear infinite;
}
.ring span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#e9967a;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #e9967a;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}





@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles pour cette Media Queries */

    .voila {
        margin-bottom: 20px;
    }

    .main-head{
        height: 25vh;
    }

    .main-details {
        height: 85vh;
    }

    .laius {
        height: 70%;
        align-content: flex-start;
    }

    .laius h2 {
        height: 20%;
    }

    .main-xp {
        height: 80vh;
    }

    .title {
        padding-top: 30px;
        font-size: 2em;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .nav-bar {
        width: 60%;
        flex-wrap: wrap;
    }

    .skills {
        height: 30%;
    }

    .all-skills img {
        max-width: 30px;
    }
    
    .xps{
        height: 60%;
    }

    .formations {
        width: 100%;
        height: 40%;
        background-color: black;
    }

    .scroll-ele {
        height: 85%;
        white-space: nowrap;
        display: flex;
        overflow-y: none;
        overflow-x: scroll;
        justify-content: space-between;
    }

    .school{
        margin: 5px 80px;
        height: 180px;
        width: 300px;
    }

    .school ul{
        height: 70%;
    }

    .date {
        font-size: 0.8em;
        font-style: oblique;
    }


}


@media only screen and (min-device-width : 480px) and (max-device-width : 760px) {
    /* Styles pour cette Media Queries */

    .title {
        font-size: 2.5em;
    }

    .all-skills img {
        max-width: 45px;
    }

    .school{
        margin: 0 20px;
    }
}

@media only screen and (min-device-width : 760px) and (max-device-width : 1255px) {
    /* Styles pour cette Media Queries */

    .title {
        font-size: 4em;
    }

    .nav-detail {
        width: 100px;
    }

    .laius {
        height: 60%;
    }

    .formations {
        width: 100%;
        height: 35%;
        background-color: black;
    }

    .scroll-ele{
        height: 70%;
    }

    .school {
        height: 90%;
        margin: 0 200px;
    }

    .school li{
        white-space: inherit;
    }


}
